* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

h1 {
    font-size: 36px;
    margin-bottom: 30px;
}

form {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form input {
    padding: 12px;
    font-size: 17px;
    border-radius: 5px;
}

.valid {
    border-color: #36cc36;
}

.invalid {
    border-color: orangered;
}

input + p {
    font-size: .9em;
    font-weight: bold;
    text-align: center;
    margin: 0 10px;
    color: orangered;
    opacity: 0;
    height: 0;
}

input.invalid + p {
    opacity: 1;
    height: auto;
}